.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

# build files
dist
build/*
dist/*.zip
build/authentication-ui
build/authentication-ui/assets/*.js
build/assets/*.js
build/assets/*.txt
build/*.zip
build/*.js
build/*.map
build/index.html
build/client-applications
pacts/*.json
build/*.txt

# Exclude IDE project folders
.idea/
*.sublime-project
*.sublime-workspace
.vscode
.project
*.iml

# OS files
.DS_STORE

# prettier/linter diffs
*.rej

# Logs
*.log

# Docker
*.tar

# Rpms
SPECS
SOURCES
*.service
*.rpm

# Cache
*.tsbuildinfo
.eslintcache
tmp_hygen_exec_dir


# Bad files generated in the build at commit
# https://git.onespan.com/frontend/oss-ui/-/commit/36d6f958ee5916c92472f81e660eca27e2433b38
# Not too sure why yet but will try to fix for the future
yarn--*
jest_0/
v8-compile-cache*
packages/libs/manifest-cli/manifest.yml
packages/libs/manifest-cli/test/manifest.json

build-storybook
dist
storybook-static
node_modules
package-lock.json
size-snapshot.json
coverage
junit.xml
test-report.xml
.scannerwork
/.nyc_output
*.env
git.properties
tmp-git
.yalc
yalc.lock
**/debug.json
**/*.tgz
.history
