<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/<%= projectId %>">
  <meta charset="utf-8">
  <title>@<%= projectId %>/client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico">
</head>
<body>
<div id="root"></div>
</body>
</html>

